<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-head">
  <meta charset="UTF-8">
  <title>Happy New Year!! 유석인사이드입니다.</title>
</head>
<body>
<header th:fragment="header">
  <link rel="stylesheet" th:href="@{/css/fragment-header.css}" >

  <div class="home">
    <a href="/">ysinside.com</a>
  </div>

  <div class="nav">
    <a href="/notice">공지</a>
    <a href="/board1">게시판1</a>
    <a href="/board2">게시판2</a>
  </div>

  <hr>
</header>

<footer th:fragment="footer">

</footer>
</body>
