<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:replace="fragments/common :: header">-- thymeleaf header will be inserted here. --</header>
<section>
    <div id="board_header">
        <h3>
            <a href="/notice">
                <p th:text="${data}" ></p>
            </a>
        </h3>
        <hr>
    </div>
    <div id="bd_list">
        <p>board posts will be listed here</p>
    </div>
</section>
<footer th:replace="fragments/common :: footer">-- thymeleaf footer will be inserted here. --</footer>
</body>
</html>